<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd.mybatis-3-mapper.dtd">

<!--  Mapperとxmlのマッピング -->
<mapper namespace="com.ShineYamamoto.LessonManagerApp.user.repository.UserMapper">

	<!-- ユーザー1件登録 -->
	<insert id="insertOne">
		INSERT INTO users (
		    e164_phone_number
		  , user_name
		  , password
		  , goal_level_id
		  , role
		)
		VALUES (
		    #{e164PhoneNumber}
		  , #{userName}
		  , #{password}
		  , #{goalLevelId}
		  , #{role}
		)
	</insert>
	
	<!-- ユーザー複数件取得 -->
	<select id="findMany" resultType="User">
		SELECT
			*
		FROM
			users
	</select>
</mapper>