<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd.mybatis-3-mapper.dtd">

<!--  Mapperとxmlのマッピング -->
<mapper namespace="com.ShineYamamoto.LessonManagerApp.user.repository.UserMapper">

	<!-- ユーザー1件登録 -->
	<insert id="insertOne"
			 useGeneratedKeys="true"
			 keyProperty="userId"
			 keyColumn="user_id">
			 
		INSERT INTO users (
		    e164_phone_number
		  , user_name
		  , password
		  , goal_level_id
		  , role
		)
		VALUES (
		    #{e164PhoneNumber}
		  , #{userName}
		  , #{password}
		  , #{goalLevelId}
		  , #{role}
		)
	</insert>
	
	<!-- ユーザー複数件取得 -->
	<select id="findMany" resultType="User">
		SELECT
			*
		FROM
			users
	</select>
	
	<!-- ユーザーIDから1件取得 -->
	<select id="findById" resultType="User">
		SELECT
			user_id
		  , e164_phone_number
		  , user_name
		  , goal_level_id
		  , role
		  , created_at
		  , updated_at
		FROM
			users
		WHERE
			user_id = #{userId}
	</select>
	
	<!-- ユーザー1件更新 -->
	<update id="updateById">
		UPDATE
			users
		SET
			password = #{password}
		  , user_name = #{userName}
		WHERE
			user_id = #{userId}
	</update>
	
	<!-- ユーザー1件削除 -->
	<delete id="deleteById">
		DELETE FROM
			users
		WHERE
			user_id = #{userId}
	</delete>
</mapper>