<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS読込 -->
<link rel="stylesheet" th:href="@{/css/signup.css}">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<!-- JS読込 -->
<script th:src="@{/js/countryHandler.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<title th:text="#{user.signup.title}"></title>
</head>
<body class="bg-light">
	<form id="signup-form" method="post" action="/user/signup" class="form-signup mt-5" th:object="${signupForm}">
		<h2 class="text-center" th:text="#{user.signup.title}"></h2>
		
		<!-- 電話番号 -->
		<div class="form-group">
			
			<label for="regionCode" th:text="#{phoneNumber}"></label>
			
			<div class="input-group">
				
				<select class="form-select" 
						th:field="*{regionCode}"
						th:errorclass="is-invalid">
						
					<option th:each="country : ${countryList}"
							th:value="${country.regionCode}"
							th:text="${country.name + ' ' + country.countryCode}"
							th:data-placeholder="${country.phoneExample}"
							th:selected="${country.countryCode == '+86'}">
					</option>
				</select>

				<input type="tel"
					   class="form-control"
					   th:field="*{phoneNumber}"
					   th:errorclass="is-invalid">
					   
			</div>
			
			<div class="invalid-feedback d-block"
				 th:if="${#fields.hasErrors('phoneNumber')}"
				 th:errors="*{phoneNumber}">
			 </div>
			
		</div>
		
		<!-- ユーザー名 -->
		<div class="form-group">
			<label for="userName" th:text="#{userName}"></label>
			<input type="text"class="form-control" th:field="*{userName}" th:errorclass="is-invalid">
			<div class="invalid-feedback" th:errors="*{userName}"></div>
		</div>
		
		<!-- パスワード -->
		<div class="form-group">
			<label for="password" th:text="#{password}"></label>
			<input type="text" class="form-control" th:field="*{password}" th:errorclass="is-invalid">
			<div class="invalid-feedback" th:errors="*{password}"></div>
		</div>
		
		
		<!-- 目標レベル -->
		<div class="form-group">
			
			<label for="goalLevelId" th:text="#{goalLevelId}"></label>
			
			<select class="form-select"
					name="goalLevelId" 
					id="goalLevelId"
					th:classappend="${#fields.hasErrors('goalLevelId')} ? 'is-invalid'">
					
				<option value=""
						disabled
						hidden
						th:text="#{goalLevelId.placeholder}"
						th:selected="${signupForm.goalLevelId == null or #fields.hasErrors('goalLevelId')}">
				</option>
				
				<option th:each="goalLevel : ${goalLevels}"
						th:value="${goalLevel.id}"
						th:text="${goalLevel.levelCode}"
						th:selected="${!#fields.hasErrors('goalLevelId') and signupForm.goalLevelId == goalLevel.id}">
				</option>

			</select>
			<div class="invalid-feedback"
				 th:errors="*{goalLevelId}">
			 </div>
		</div>
		
		<!-- 登録ボタン -->
		<input type="submit" th:value="#{user.signup.btn}" class="btn btn-primary w-100 mt-4">
		<div class="text-center mt-2">
			<a th:href="@{/login}" th:text="#{link.login}"></a>
		</div>
	</form>
</body>
</html>