<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS読込 -->
<link rel="stylesheet" th:href="@{/css/signup.css}">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<!-- JS読込 -->
<script th:src="@{/js/countryHandler.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<title th:text="#{user.signup.title}"></title>
</head>
<body class="bg-light">
	<form id="signup-form" method="post" action="/user/signup" class="form-signup mt-5">
		<h2 class="text-center" th:text="#{user.signup.title}"></h2>
		
		<!-- 電話番号 -->
		<div class="form-group">
			<label for="countryCode" th:text="#{phoneNumber}"></label>
			<div class="input-group">
				<select class="form-select" name="countryCode"  id="countryCode">
					<option th:each="country : ${countryList}"
							th:value="${country.countryCode}"
							th:text="${country.name + ' ' + country.countryCode}"
							th:data-placeholder="${country.phoneExample}"
							th:selected="${country.countryCode == '+86'}">
					</option>
				</select>

				<input type="tel"
					   class="form-control"
					   id="phoneNumber"
					   name="phoneNumber"
				>
			</div>
		</div>
		
		<!-- パスワード -->
		<div class="form-group">
			<label for="password" th:text="#{password}"></label>
			<input type="text" id="password" class="form-control">
		</div>
		
		<!-- ユーザー名 -->
		<div class="form-group">
			<label for="userName" th:text="#{userName}"></label>
			<input type="text" id="userName" class="form-control">
		</div>
		
		<!-- 目標レベル -->
		<div class="form-group">
			<label for="goal" th:text="#{goal}"></label>
			<select class="form-select" name="goal" id="goal">
				<option>N1</option>
				<option>N2</option>
				<option>N3</option>
				<option>N4</option>
				<option>N5</option>
			</select>
		</div>
		
		<!-- 登録ボタン -->
		<input type="submit" th:value="#{user.signup.btn}" class="btn btn-primary w-100 mt-4">
		<div class="text-center mt-2">
			<a th:href="@{/login}" th:text="#{link.login}"></a>
		</div>
	</form>

</body>
</html>