<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<nav layout:fragment="header-contents" class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-dark">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">予約管理アプリ</a>
			</div>
			
			<!-- 中のみ表示 -->
			<div sec:authorize="isAuthenticated()" class="d-flex align-items-center gap-3">
				
				<div class="pull-right navbar-brand">
					<span th:text="${#authentication.principal.displayUserName}">name</span>
				</div>

				<form method="post" th:action="@{/logout}">
					<button class="btn btn-link pull-right navbar-brand" type="submit">
						ログアウト
					</button>
				</form>	
						
			</div>
		</div>
	</nav>
</body>
</html>